nav.navbar.navbar-default.navbar-fixed-top
  .container
    .navbar-header
      a.navbar-brand(href="#")  DEDM系刊
    .nav.navbar-nav.navbar-right
      li
       a(href="#section_ask")  引言  INTRO
      li
       a(href="#section_about")  簡介  ABOUT
      li
       a(href="#section_video")  影片  VIDEO
      li
       a(href="https://bootstrap.hexschool.com/docs/4.1/utilities/embed/" target="_blank") 主持人 TUTOR
       
header.jumbotron
  .container
    h1 嘉大數位系刊
    hr
    h4 NCYUxDEDM
section#section_ask
  .container
    .row
      .col-sm-5.img
      .col-sm-7
        h2 系刊回顧
section#section_about
  .container
    .row
      .col-sm-12
        h1 第一~四期
        hr
      .col-sm-4
        img(src="https://goo.gl/gkRQKe",alt="")
        h3 創課的精神
        p 自造者（英語：Maker，又譯為「創客」）概念來源於英文Maker和Hacker兩詞的綜合釋義。<br>它是指一群酷愛科技、熱衷實踐的人群，他們以分享技術、交流思想為樂，以自造者為主體的社區（Makerspace）則成了自造者文化的載體。
      .col-sm-4
        img(src="https://goo.gl/gkRQKe",alt="")
        h3 創課的精神
        p 自造者（英語：Maker，又譯為「創客」）概念來源於英文Maker和Hacker兩詞的綜合釋義。<br>它是指一群酷愛科技、熱衷實踐的人群，他們以分享技術、交流思想為樂，以自造者為主體的社區（Makerspace）則成了自造者文化的載體。
      .col-sm-4
        img(src="https://goo.gl/gkRQKe",alt="")
        h3 創課的精神
        p 自造者（英語：Maker，又譯為「創客」）概念來源於英文Maker和Hacker兩詞的綜合釋義。<br>它是指一群酷愛科技、熱衷實踐的人群，他們以分享技術、交流思想為樂，以自造者為主體的社區（Makerspace）則成了自造者文化的載體。
        .col-sm-4
        img(src="https://goo.gl/gkRQKe",alt="")
        h3 創課的精神
        p 自造者（英語：Maker，又譯為「創客」）概念來源於英文Maker和Hacker兩詞的綜合釋義。<br>它是指一群酷愛科技、熱衷實踐的人群，他們以分享技術、交流思想為樂，以自造者為主體的社區（Makerspace）則成了自造者文化的載體。
section#section_video
  .container
    .row
      .col-sm-12
        h1 創課影片/video
        hr
      .col-sm-12
        .embed-responsive.embed-responsive-16by9
         iframe.embed-responsive-item(src='https://www.youtube.com/embed/hZ4VfGUN0Jc', allowfullscreen='')
